@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;  /* <- Remove or set to 0 */
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%; /* You probably want full width rather than 1280px */
  text-align: center;
}